<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/snap-stream/back" method="post">
        <button type="submit">Back</button>
    </form>

    <a href="/snap-stream/profile/<%= foundPost.user._id %>"><h1><%= foundPost.user.username %></h1></a>
    <img src="<%= foundPost.image %>">

    <% if(isUser) { %>

        <% if(isUserPost) { %>
        <form action="/snap-stream/<%= foundPost._id %>?/edit_method=PUT" method="post">
            <label for="content">Content: </label>
            <input type="text" name="content" value="<%= foundPost.content %>">
            
            <button type="submit">Update Content</button>
        </form>
        <br>
        <form action="/snap-stream/<%= foundPost._id %>?_method=DELETE" method="post">
            <button type="submit">Delete Post</button>
        </form>
        <br>
        <% } %>

        <form action="/snap-stream/<%= foundPost._id %>/like" method="post">
            <% if(isLiked) { %>
                <button type="submit" style="background: none; border: none; color: red; font-size: 2em;">♥ <%= foundPost.likes.length %></button>
            <% } else { %>
                <button type="submit" style="background: none; border: none; font-size: 2em;">♡ <%= foundPost.likes.length %></button>
            <% } %>
        </form>

        <br>

        <h3>Tags</h3>
        <% foundPost.tags.forEach((tag) => { %>
            <p><%= tag %></p>
        <% }); %>

        <br>

        <form action="/snap-stream/<%= foundPost._id %>/comment" method="post">
            <label for="content">Comment: </label>
            <input type="text" name="content">

            <button type="submit">Submit</button>
        </form>
    <% } else { %>
        <p>Content: <%= foundPost.content %></p>
        <button type="submit" style="background: none; border: none; color: black; font-size: 2em;" disabled>♡ <%= foundPost.likes.length %></button>
        <br>

        <h3>Tags</h3>
        <% foundPost.tags.forEach((tag) => { %>
            <p><%= tag %></p>
        <% }); %>
    <% } %>
    

    

    <% foundPost.comments.forEach((comment) => { %>
        <div class="comment">
            <p><b><%= comment.user.username %></b></p>
            <p><%= comment.content %></p>
        </div>
    <% }); %>
</body>
</html>