<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="<%= foundPost.image %>" alt="post image">
    <p>Content: <%= foundPost.content %></p>

    <% if(isUserPost) { %>
        <form action="/snap-stream/<%= foundPost._id %>?_method=DELETE" method="post">
            <button type="submit">Delete Post</button>
        </form>
        <br>
    <% } %>

    <form action="/snap-stream/<%= foundPost._id %>/comment" method="post">
        <label for="content">Comment: </label>
        <input type="text" name="content">

        <button type="submit">Submit</button>
    </form>

    <% foundPost.comments.forEach((comment) => { %>
        <div class="comment">
            <p><b><%= comment.user.username %></b></p>
            <p><%= comment.content %></p>
        </div>
    <% }); %>
</body>
</html>