<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include("../partials/tabs") %>

    <button class="postSwitchBtn" id="beforeBtn"><</button>

    <div class="post">
        <form action="/snap-stream/back" method="post">
            <button type="submit">Back</button>
        </form>
        <div class="post-details">
            <% if(foundPost.user.profileImage) {%>
                <img src="<%= foundPost.user.profileImage %>">
            <% } else { %>
                <img src="/images/person.png">
            <% } %>
            <a href="/snap-stream/profile/<%= foundPost.user._id %>"><h1><%= foundPost.user.username %></h1></a>
        </div>

        <img src="<%= foundPost.image %>">

        <% if(isUser) { %>

            <form action="/snap-stream/<%= foundPost._id %>/like" method="post">
                <% if(isLiked) { %>
                    <button type="submit" style="background: none; border: none; color: red; font-size: 2em;">♥ <%= foundPost.likes.length %></button>
                <% } else { %>
                    <button type="submit" style="background: none; border: none; font-size: 2em;">♡ <%= foundPost.likes.length %></button>
                <% } %>
            </form>

            <% if(isUserPost) { %>

            
            <form action="/snap-stream/<%= foundPost._id %>?/edit_method=PUT" method="post">
                <label for="content">Content: </label>
                <input type="text" name="content" value="<%= foundPost.content %>">
                
                <button type="submit">Update Content</button>
            </form>
            <br>
            <form action="/snap-stream/<%= foundPost._id %>?_method=DELETE" method="post">
                <button type="submit">Delete Post</button>
            </form>
            <br>
            <% } %>

            <br>

            <h3>Tags</h3>
            <% foundPost.tags.forEach((tag) => { %>
                <p><%= tag %></p>
            <% }); %>

            <br>

            <p class="createdAt"><%= foundPost.createdAt.toLocaleDateString() %> %></p>

            <br>

            <form action="/snap-stream/<%= foundPost._id %>/comment" method="post">
                <label for="content">Comment: </label>
                <input type="text" name="content">

                <button type="submit">Submit</button>
            </form>
        <% } else { %>
            <p><%= foundPost.content %></p>
            <button type="submit" style="background: none; border: none; color: black; font-size: 2em;" disabled>♡ <%= foundPost.likes.length %></button>
            <br>

            <h3>Tags</h3>
            <% foundPost.tags.forEach((tag) => { %>
                <p><%= tag %></p>
            <% }); %>
        <% } %>
        

        

        <% foundPost.comments.forEach((comment) => { %>
            <div class="comment">
                <p><b><%= comment.user.username %></b></p>
                <p><%= comment.content %></p>
            </div>
        <% }); %>

    </div>

    <button class="postSwitchBtn" id="afterBtn">></button>

    <script>
        const beforeBtnEl = document.querySelector("#beforeBtn");
        const afterBtnEl = document.querySelector("#afterBtn");

        // taken from the internet
        function findInNestedArray(arr, targetValue) 
        {
            for (let i = 0; i < arr.length; i++) 
            {
                const currentItem = arr[i];

                if (currentItem === targetValue) 
                {
                    return currentItem;
                }

                if (Array.isArray(currentItem)) 
                {
                    const foundInSubArray = findInNestedArray(currentItem, targetValue);
                    if (foundInSubArray !== undefined) 
                    {
                        return foundInSubArray;
                    }
                }
            }
            return undefined;
        }

        function switchPost(i)
        {
            const allPostsArray = JSON.parse('<%- JSON.stringify(allPosts) %>');
            const currentPostId = '<%= foundPost._id %>';
            const pageType = '<%= pageType %>';
            let nextPostIndex = -1;
            for (let index = 0; index < allPostsArray.length; index++) 
            {
                const post = allPostsArray[index];

                if (post._id === currentPostId) 
                {
                    nextPostIndex = index + i;
                    break; 
                }
            }

            if (nextPostIndex < allPostsArray.length && nextPostIndex >= 0) 
            {
                window.location.href = "/snap-stream/" + allPostsArray[nextPostIndex]._id + "/" + pageType;
            } 
        }

        beforeBtnEl.addEventListener("click", () =>
        {
            switchPost(-1);
        });

        afterBtnEl.addEventListener("click", () =>
        {
            switchPost(1);
        });

    </script>
</body>
</html>