<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include("../partials/tabs") %>

    <div class="page">
        <header>
            <a href="/snap-stream/new" class="addPost"><button>Add Post</button></a>
        </header>

        <% if(foundUser.email != currentUser.email) { %>
            <div class="other-profile">
                <% if(foundUser.profileImage) {%>
                    <img src="<%= foundUser.profileImage %>">
                <% } else { %>
                    <img src="/images/person.png">
                <% } %>

                <h1><%= foundUser.username %></h1>
                <ul>
                    <li>Posts: <%= allPosts.length %></li>
                    <li>Following: <%= foundUser.following.length %></li>
                    <li>Followers: <%= foundUser.followers.length %></li>
                </ul>

                <br>
                <form action="/snap-stream/profile/<%= foundUser._id %>/followBtn" method="post">
                    
                    <% if(isFollowed) { %>
                        <button type="submit">Unfollow</button>
                    <% } else { %>
                        <button type="submit">Follow</button>
                    <% } %>
                </form>
            </div>
        <% } %>

        <div class="container">
            <% allPosts.forEach((post) => { %>
                <div class="post-card">
                    <a href="/snap-stream/<%= post._id %>/profile">
                        <% if(post.image.includes("video")) { %>
                            <video controls>
                                <source src="<%= post.image %>" type="video/mp4">
                            </video>
                        <% } else { %>
                            <img src="<%= post.image %>" alt="post-image">
                        <% } %>
                    </a>
                </div>
            <% }); %>
        </div>
    </div>
    
</body>
</html>