<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <%- include("../partials/tabs") %>

    <div class="page">
        <header>
            <select id="showType" name="showType" onchange="handlsType(this)" onclick="handlsType(this)">
                    <option value="Posts">Posts</option>
                    <option value="Users">Users</option>
                </select>
            
            <form action="/snap-stream/search/posts?search" method="get">
                

                <input name="search" type="text" placeholder="Search...">
                <button type="submit" id="searchBtn"><i class="fa fa-search"></i></button>
            </form>

            <a href="/snap-stream/new" class="addPost"><button>Add Post</button></a>
        </header>
        
        <div class="container">
            <% allPosts.forEach((post) => { %>
                <% if(query){ %>
                    <a href="/snap-stream/<%= post._id %>/search?q=<%= query %>">
                    <% } else{%>
                        <a href="/snap-stream/<%= post._id %>/search">
                        <% }%>
                        <div class="post-card">
                            <% if(post.image.includes("video")) { %>
                                <video controls>
                                    <source src="<%= post.image %>" type="video/mp4">
                                </video>
                            <% } else { %>
                                <img src="<%= post.image %>" alt="post-image">
                            <% } %>
                        </div>
                    </a>
            <% }); %>
        </div>
    </div>

    <script>
        const showTypeEl = document.querySelector("#showType");
        const containerEl = document.querySelector(".container");

        function handlsType(selection)
        {
            if(showTypeEl.value == "Posts")
            {
                containerEl.innerHTML = `<% allPosts.forEach((post) => { %>
                <% if(query){ %>
                    <a href="/snap-stream/<%= post._id %>/search?q=<%= query %>">
                    <% } else{%>
                        <a href="/snap-stream/<%= post._id %>/search">
                        <% }%>
                        <div class="post-card">
                            <img src="<%= post.image %>" alt="post-image">
                        </div>
                    </a>
            <% }); %>`;
            }
            else
            {
                containerEl.innerHTML = `<% allUsers.forEach((user) => { %>
                    <a href="/snap-stream/profile/<%= user._id %>">
                    <div class="user-card">
                        <% if(user.profileImage) { %>
                            <img src="<%= user.profileImage %>" alt="user-image">
                        <% } else { %>
                            <img src="/images/person.png" alt="user-image">
                        <% } %>
                    </div>
                    </a>
                <% }); %>`;
            }
        }

        function init()
        {
            let sp = '<%= showPosts %>'
            if(sp)
            {
                showTypeEl.value = 'Posts';
            }
            else
            {
                showTypeEl.value = "Users";
            }

            
        }

        document.addEventListener("DOMContentLoaded", init);
    </script>
</body>
</html>