<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settinsg</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/settings.css">
</head>
<body>
    <%- include("../partials/tabs") %>

    <div class="page">
        
        <h1>Settings</h1>
        <% if(foundUser.profileImage) {%>
            <img src="<%= foundUser.profileImage %>">
        <% } else { %>
            <img src="/images/person.png">
        <% } %>
        
        <form action="/snap-stream/<%= foundUser._id %>/settings/profile" method="post" enctype="multipart/form-data">
            <label for="profileImage">Profile Image: </label>
            <input name="profileImage" type="file">

            <br>
            <br>

            <label for="username">Username: </label>
            <input name="username" type="text" value="<%= foundUser.username %>">

            <br>
            <br>

            <button type="submit">Update Profile</button>
            <br>
            <hr>
        </form>

        <form action="/snap-stream/<%= foundUser._id %>/settings/profile?_method=DELETE" method="post">
            <button type="submit" style="color: red;">Delete Account</button>
        </form>
    </div>

</body>
</html>