<div class="tabsContainer">
    <% if(currentUser){ %>
        <% if(currentUser.profileImage) { %>
            <img src="<%= currentUser.profileImage %>" width="200px" height="200px" alt="profile-image" style="margin-top: 1em;">
        <% } else { %>
            <img src="/images/person.png" width="200px" height="200px" alt="profile-image">
        <% } %>

        <h1><%= currentUser.username %></h1>
    <% }%>
    
    <% if(userInfo) { %>
        <br>

        <div class="userInfo">
            <label>Posts: <%= userInfo.posts %></label> |
            <label>Following: <%= userInfo.following %></label> |
            <label>Followers: <%= userInfo.followers %></label>
        </div>

        <br>
    <% } %>
    <br>
    <div class="tabsRow">
        <a href="/snap-stream/profile"><button><i class="fa-regular fa-user"></i></button></a>
        <a href="/snap-stream/search"><button><i class="fa fa-search"></i></button></a>
        <a href="/snap-stream/home/"><button><i class="fa-regular fa-house"></i></button></a>
    </div>
    <hr>
    <a href="/snap-stream/settings"><button><i class="fa-solid fa-sliders"></i></button></a>
    <hr>
    <a href="/auth/logout"><button><i class="fa-solid fa-arrow-right-from-bracket"></i></button></a>
</div>